langgraph
langgraph-cli[inmem]
langgraph-sdk
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres; python_version < "3.14"
psycopg[binary]; python_version < "3.14"
langsmith
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain_tavily
notebook
tavily-python
wikipedia
python-dotenv
chromadb
pandas

aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
bcrypt
beautifulsoup4
bleach
blockbuster
build
certifi
cffi
charset-normalizer
chromadb
click
cloudpickle
comm
croniter
cryptography
debugpy
defusedxml
distro
durationpy
executing
fastjsonschema
filelock
filetype
flatbuffers
forbiddenfruit
fqdn
frozenlist
fsspec
google-auth
google-genai
googleapis-common-protos
grpcio
grpcio-health-checking
grpcio-tools
h11
hf-xet
httpcore
httpcore2
httptools
httpx
httpx-sse
httpx2
huggingface_hub
idna
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
jiter
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jsonschema_rs
jupyter-events
jupyter-lsp
jupyter_builder
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kubernetes
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-protocol
langchain-tavily
langchain-text-splitters
langgraph
langgraph-api
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-cli
langgraph-prebuilt
langgraph-runtime-inmem
langgraph-sdk
langsmith
lark
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mmh3
multidict
nbclient
nbconvert
nbformat
nest-asyncio2
notebook
notebook_shim
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
platformdirs
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-json-logger
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
Send2Trash
setuptools
shellingham
six
sniffio
soupsieve
SQLAlchemy
sqlite-vec
sse-starlette
stack-data
starlette
structlog
tavily-python
tenacity
terminado
tiktoken
tinycss2
tokenizers
tornado
tqdm
traitlets
truststore
typer
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
uuid_utils
uvicorn
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
wikipedia
xxhash
yarl
zstandard